[package]
name = "ember-logging"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
