[package]
name = "ember-macros"
version = "0.1.0"
edition = "2024"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
 serde_json = "1"
 proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
